<img align="left" src="images/GMIT-logo.png" alt="GMIT" width="250"/>                                                      <img align="right" src="images/data-analytics.png" alt="HDipDA" width="300"/>  

# <center>Fundamentals of Data Analysis - Tips Project 2019</center> #

___________________________________________

**Module Name**: Fundamentals of Data Analysis  
**Module Number**: 52446  
**Student Name**: Yvonne Brady  
**Student ID**: G00376355  
___________________________________________

### Description - 30%###
Create a git repository and make it available online for the lecturer to clone. The repository should contain all your work for this assessment. Within the repository, create a jupyter notebook that uses descriptive statistics and plots to describe the tips dataset. This part is worth 30% of your overall mark.

One waiter recorded information about each tip he received over a period of a few months working in one restaurant. He collected several variables:

In [1]:
# First of all import all the packages you need
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# And the dataset itself (also included in this repository)
tips = sns.load_dataset("tips")

# Now have a look at the data
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [13]:
print("The dataset has",tips.shape[0], "rows each with", tips.shape[1], "attributes - totaling", tips.size, "data values in the dataset.")
print("Over the data collection period, the waiter served", tips['size'].sum(), "customers, generating an income of $", tips["total_bill"].sum(), ". ")
print("This resulted in tips totalling $", tips["tip"].sum(), ".")
print("The day breakdown is as follows:")
print(tips.groupby("day").size())

The dataset has 244 rows each with 7 attributes - totaling 1708 data values in the dataset.
Over the data collection period, the waiter served 627 customers, generating an income of $ 4827.77 .
This resulted in tips totalling $ 731.5799999999999 .
The day breakdown is as follows:
day
Thur    62
Fri     19
Sat     87
Sun     76
dtype: int64

In [2]:
# Now have a look at the data
tips.sample(5) # returns 5 randomly selected rows

     total_bill   tip     sex smoker   day    time  size
10        10.27  1.71    Male     No   Sun  Dinner     2
138       16.00  2.00    Male    Yes  Thur   Lunch     2
82        10.07  1.83  Female     No  Thur   Lunch     1
2         21.01  3.50    Male     No   Sun  Dinner     3
91        22.49  3.50    Male     No   Fri  Dinner     2

**Just playing around here**  
Just playing around with the data on a category by category basis to see what they show.  
Unsure of how I should present these - as code and then summarised in markdown?  
Print functions displaying data above is ugly. It is likely that a lot of what follows will be discarded in any event.

In [14]:
# How much was spent by each gender
tips.groupby("sex")["total_bill"].sum()

sex
Male      3256.82
Female    1570.95
Name: total_bill, dtype: float64

In [15]:
tips.groupby("sex")["tip"].sum()

sex
Male      485.07
Female    246.51
Name: tip, dtype: float64

In [17]:
tips.groupby("sex")["tip"].sum()/tips.groupby("sex")["total_bill"].sum()

sex
Male      0.148940
Female    0.156918
dtype: float64

In [19]:
# How much was spent broken down by smoker status
tips.groupby("smoker")["total_bill"].sum()

smoker
Yes    1930.34
No     2897.43
Name: total_bill, dtype: float64

In [21]:
tips.groupby("smoker")["tip"].sum()

smoker
Yes    279.81
No     451.77
Name: tip, dtype: float64

In [24]:
tips.groupby("smoker")["tip"].sum()/tips.groupby("smoker")["total_bill"].sum()

smoker
Yes    0.144954
No     0.155921
dtype: float64

In [25]:
# How much was spent broken down by day
tips.groupby("day")["total_bill"].sum()

day
Thur    1096.33
Fri      325.88
Sat     1778.40
Sun     1627.16
Name: total_bill, dtype: float64

In [26]:
tips.groupby("day")["tip"].sum()

day
Thur    171.83
Fri      51.96
Sat     260.40
Sun     247.39
Name: tip, dtype: float64

In [27]:
tips.groupby("day")["tip"].sum()/tips.groupby("day")["total_bill"].sum()

day
Thur    0.156732
Fri     0.159445
Sat     0.146424
Sun     0.152038
dtype: float64

In [28]:
# How much was spent broken down by time
tips.groupby("time")["total_bill"].sum()

time
Lunch     1167.47
Dinner    3660.30
Name: total_bill, dtype: float64

In [29]:
# How much was spent broken down by day
tips.groupby("time")["tip"].sum()

time
Lunch     185.51
Dinner    546.07
Name: tip, dtype: float64

In [30]:
tips.groupby("time")["tip"].sum()/tips.groupby("time")["total_bill"].sum()

time
Lunch     0.158899
Dinner    0.149187
dtype: float64

In [31]:
# How much was spent broken down by party size
tips.groupby("size")["total_bill"].sum()

size
1      28.97
2    2565.89
3     884.55
4    1058.70
5     150.34
6     139.32
Name: total_bill, dtype: float64

In [32]:
tips.groupby("size")["tip"].sum()

size
1      5.75
2    402.84
3    128.94
4    153.01
5     20.14
6     20.90
Name: tip, dtype: float64

In [33]:
tips.groupby("size")["tip"].sum()/tips.groupby("size")["total_bill"].sum()

size
1    0.198481
2    0.156998
3    0.145769
4    0.144526
5    0.133963
6    0.150014
dtype: float64

**General Observation**  
Based on the rudimentary calculations above, it would appear the best tip ratio is to be found if the waiter serves lunch on a Friday to a non-smoking woman dining on her own. Mind you this particular scenario accounted for exactly $0 in tips, so I guess the conclusion of this part would be - don't rely on generalities!

In [3]:
tips["day"].value_counts()
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [4]:
tips.groupby("day").describe()

     total_bill                                                             \
          count       mean       std   min      25%    50%      75%    max
day
Thur       62.0  17.682742  7.886170  7.51  12.4425  16.20  20.1550  43.11
Fri        19.0  17.151579  8.302660  5.75  12.0950  15.38  21.7500  40.17
Sat        87.0  20.441379  9.480419  3.07  13.9050  18.24  24.7400  50.81
Sun        76.0  21.410000  8.832122  7.25  14.9875  19.63  25.5975  48.17

       tip            ...                 size                                \
     count      mean  ...     75%    max count      mean       std  min  25%
day                   ...
Thur  62.0  2.771452  ...  3.3625   6.70  62.0  2.451613  1.066285  1.0  2.0
Fri   19.0  2.734737  ...  3.3650   4.73  19.0  2.105263  0.567131  1.0  2.0
Sat   87.0  2.993103  ...  3.3700  10.00  87.0  2.517241  0.819275  1.0  2.0
Sun   76.0  3.255132  ...  4.0000   6.50  76.0  2.842105  1.007341  2.0  2.0


      50%  75%  max
day
Thur  2.0  2.0  6.0
Fri   2.0  2.0  4.0
Sat   2.0  3.0  5.0
Sun   2.0  4.0  6.0

[4 rows x 24 columns]

### Regression - 30% ###
To the above jupyter notebook add a section that discusses and analyses whether there is a relationship between the total bill and tip amount, and this part is also worth 30%.

### Analysis - 40% ###
Again using the same notebook, analyse the relationship between the variables within the dataset. You are free to interpret this as you wish — for example, you may analyse all pairs of variables, or select a subset and analyse those. This part is worth 40%.

### References ###
[1] https://github.com/mwaskom/seaborn-data/blob/master/tips.csv.
[2] https://rdrr.io/cran/regclass/man/TIPS.html