<img align="left" src="GMIT-logo.png" alt="GMIT" width="250"/>                                                      <img align="right" src="data-analytics.png" alt="HDipDA" width="300"/>  

# <center>Fundamentals of Data Analysis - Tips Project 2019</center> #

___________________________________________

**Module Name**: Fundamentals of Data Analysis  
**Module Number**: 52446  
**Student Name**: Yvonne Brady  
**Student ID**: G00376355  
___________________________________________

### Description - 30%###
Create a git repository and make it available online for the lecturer to clone. The repository should contain all your work for this assessment. Within the repository, create a jupyter notebook that uses descriptive statistics and plots to describe the tips dataset. This part is worth 30% of your overall mark.

One waiter recorded information about each tip he received over a period of a few months working in one restaurant. He collected several variables:

In [11]:
# First of all import all the packages you need
import numpy as no
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# And the dataset itself (also included in this repository)
tips = sns.load_dataset("tips")

# Now have a look at the data
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [12]:
# Now have a look at the data
tips.sample(5) # returns 5 randomly selected rows

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
80        19.44  3.00    Male    Yes  Thur   Lunch     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
92         5.75  1.00  Female    Yes   Fri  Dinner     2
84        15.98  2.03    Male     No  Thur   Lunch     2

In [15]:
tips["day"].value_counts()
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [6]:
tips.groupby("day").describe()

     total_bill                                                             \
          count       mean       std   min      25%    50%      75%    max
day
Thur       62.0  17.682742  7.886170  7.51  12.4425  16.20  20.1550  43.11
Fri        19.0  17.151579  8.302660  5.75  12.0950  15.38  21.7500  40.17
Sat        87.0  20.441379  9.480419  3.07  13.9050  18.24  24.7400  50.81
Sun        76.0  21.410000  8.832122  7.25  14.9875  19.63  25.5975  48.17

       tip            ...                 size                                \
     count      mean  ...     75%    max count      mean       std  min  25%
day                   ...
Thur  62.0  2.771452  ...  3.3625   6.70  62.0  2.451613  1.066285  1.0  2.0
Fri   19.0  2.734737  ...  3.3650   4.73  19.0  2.105263  0.567131  1.0  2.0
Sat   87.0  2.993103  ...  3.3700  10.00  87.0  2.517241  0.819275  1.0  2.0
Sun   76.0  3.255132  ...  4.0000   6.50  76.0  2.842105  1.007341  2.0  2.0


      50%  75%  max
day
Thur  2.0  2.0  6.0
Fri   2.0  2.0  4.0
Sat   2.0  3.0  5.0
Sun   2.0  4.0  6.0

[4 rows x 24 columns]

### Regression - 30% ###
To the above jupyter notebook add a section that discusses and analyses whether there is a relationship between the total bill and tip amount, and this part is also worth 30%.

### Analysis - 40% ###
Again using the same notebook, analyse the relationship between the variables within the dataset. You are free to interpret this as you wish — for example, you may analyse all pairs of variables, or select a subset and analyse those. This part is worth 40%.

### References ###
[1] https://github.com/mwaskom/seaborn-data/blob/master/tips.csv.
[2] https://rdrr.io/cran/regclass/man/TIPS.html